.each-color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.each-color-container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.each-color-box {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;

  margin-right: 10px; 
  width: 150px;
  height: 80px;
  background-color: #F3F4F6;
  margin-bottom: 20px;
  padding: 15px 8px 5px 8px;
  border-radius: 5%;
  border: 1px solid #DADBDD;
  transition: background-color 0.3s;
}

.color-item-top{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


@media (max-width: 600px) {
  .each-color-container-top {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .each-color-box {
    width: 280px;

  }

}

@media (min-width: 601px) and (max-width: 900px) {
  .each-color-container-top {
    flex-wrap: wrap;
  }
}
