.color-row {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 95%;
}

.color-item {
  margin-right: 10px; 
  width: 150px;
  height: 80px;
  background-color: #F3F4F6;
  margin-bottom: 20px;
  padding: 15px 8px 5px 8px;
  border-radius: 5%;
  border: 1px solid #DADBDD;
  transition: background-color 0.3s;
}

.color-item-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-item-right {
  gap: 10px;
}

.actions {
  // margin-left: auto;
}

// COLOR DETAIL


@media (max-width: 600px) {
  .color-row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .color-item {
    width: 80%;
  }
}