.login {
//   // width: 100vw;
//   margin-top: 20px;
  height: 100vh;
  background-color: #f0f2f5;
//   // display: flex;
//   // align-items: center;
//   // justify-content: center;
}
//   // .loginWrapper {
//     // width: 70%;
//     // height: 70%;
//     // display: flex;
//   // }


 // .loginLeft,
  .loginRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .loginBox {
    margin-top: 50px;
    width: 350px;
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;



  }
    .loginInput {
      width: 80%;
      height: 50px;
      border-radius: 5px;
      border: 1px solid gray;
      font-size: 15px;
      padding-left: 20px;
      margin-bottom: 10px;
      &:focus {
        outline: none;
      }
    }

//     .loginButton {
//       height: 50px;
//       width: 80%;
//       border-radius: 10px;
//       border: none;
//       background-color: #29AB87;
//       color: white;
//       font-size: 15px;
//       font-weight: 500;
//       cursor: pointer;
//     }

//     .loginForgot {
//       text-align: center;
//       color: #1775ee;
//     }
//   }

//   .loginRegisterButton {
//     width: 80%;
//     // align-self: center;
//     height: 50px;
//     border-radius: 10px;
//     border: none;
//     background-color: #FBE790;
//     color: white;
//     font-size: 15px;
//     font-weight: 500;
//     cursor: pointer;

