.login {
//   // width: 100vw;
//   margin-top: 20px;
  height: 100vh;
  background-color: #f0f2f5;
//   // display: flex;
//   // align-items: center;
//   // justify-content: center;
}

 // .loginLeft,
  .loginRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .loginBox {
    margin-top: 50px;
    width: 350px;
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
  }

  @media (max-width: 600px) {
    .loginBox { 
      width: 300px;

    }
  }
  

    .loginInput {
      width: 80%;
      height: 50px;
      border-radius: 5px;
      border: 1px solid gray;
      font-size: 15px;
      padding-left: 20px;
      margin-bottom: 10px;
      &:focus {
        outline: none;
      }
    }

    .loginButton {
      margin-top: 10px;
      height: 50px;
      width: 40%;
      border-radius: 5px;
      border: none;
      background-color: #29AB87;
      color: white;
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;
    }

    .loginForgot {
      margin-top: 10px;
      text-align: center;
      color: #1775ee;
    }
  

  .loginRegisterButton {
    margin-top: 10px;
    width: 40%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #FBE790;
    color: grey;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }
