
.container {
  // padding: 20px 20px;
  // width: 100%;
  // height: 100vh; // Adjust as needed
  display: flex;
  justify-content: center;
  align-items: center;
  // color: $textColor; // Uncomment when text color logic is implemented

  // Content styling
  .content {
    display: flex;
    flex-direction: row;
    gap: 30px;

    // Image styling
    .image {
      overflow: hidden;
      width: 400px;
    }

    .text {
      text-align: center;
      h1 {
        // Add styles for h1
      }

      // Add styles for other text elements as needed

      // Read More Button styling
      button {
        margin-top: 10px; // Adjust as needed
      }
    }
  }
}
