.c-container {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  
}