.news-content {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.news-box {
  @media (max-width: 600px) {
    width: 90%;
  }
}


h2,p {
  text-align: center;
}

.news-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.footer {
  height: 10vh;
  background-color: antiquewhite;
}
