// Color Register
.container {
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  @media (max-width: 600px) {
    height: auto;
  }

  .top-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    } 
  }
}

.disabled-button {
  background-color: grey !important;
}

.enabled-button {
  background-color: #FF91AF !important;
  &:hover {
    background-color: #F56FA1 !important;
  }
}


// COLOR SELECT
.background-select-container {
  display: flexbox;
  justify-content: center;
  // align-items: center;
}

.color-select-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 200px;
  height: 90px;
  background-color: #f3f4f6;
  border-radius: 5%;
  border: 1px solid #dadbdd;

  cursor: pointer;
  color: black;
  transition: background-color 0.3s;
  position: relative;
}

.background-color {
  display: flex;
  justify-content: row;
  align-items: center;
  gap: 10px;
  b {
    text-align: center;
  }
}

.background-color-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 3;
}

.color-select-box:hover {
  background-color: white;
  color: black;
}

.color-select-boxx.active {
  background-color: white;
  color: black;
}

.color-select-box.active 
.dropdown {
  display: block;
}

.dropdown {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  background-color: #f9fafb;
  z-index: 4;
  border: 1px solid #b2d3c2;
  border-radius: 3%;

}

.dropdown-item {
  width: 100%;
  height: 30px;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  &:hover {
    background-color: #F5F5F5;
  }

}

.sketch-picker {
  position: absolute;
  top: 48px;
  left: -5px;
  z-index: 999;
}


